<!DOCTYPE html>
<html>
<head>
    <title>Alzheimer Stage Prediction</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h2>Upload MRI Image</h2>
        <input type="file" id="imageUpload" accept="image/*">
        <button onclick="submitImage()">Predict</button>
        <p id="result"></p>
    </div>

    <script>
        async function submitImage() {
            const fileInput = document.getElementById('imageUpload');
            const formData = new FormData();
            formData.append('image', fileInput.files[0]);

            const res = await fetch('/predict', {
                method: 'POST',
                body: formData
            });

            const data = await res.json();
            document.getElementById('result').innerText = 'Predicted Stage: ' + data.prediction;
        }
    </script>
</body>
</html>
